.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
inst/doc
docs/
*.html
*.pdf
.Rdata
.httr-oauth
.quarto/
.history/
.vscode/settings.json
Rmd/improve_code.md
Rmd/cars2.xlsx
Rmd/cars2_hf.xlsx
Rmd/cars2_hf.csv
data/

/.quarto/
matplotlib_files/
