.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
inst/doc
docs/
*.html
*.pdf
.Rdata
.httr-oauth
.quarto/
.history/
.vscode/settings.json
Rmd/improve_code.md
Rmd/cars2.xlsx
Rmd/cars2_hf.xlsx
Rmd/cars2_hf.csv
# data/
/.quarto/
matplotlib_files/
reproducible_python_files/
.editorconfig
pdf-to-structure.py
reproducible_python.qmd
pdf-to-structure.py
NeurotypR.Rcheck/
NeurotypR.code-workspace
README.Rmd
NeurotypR.qmd

.vscode/extensions.json
Patient_Workflow.md
ignore.R
matplotlib.qmd
pdf-to-structure.py
test_cars2_hf.R
test_descriptions.md
test_neurotypr.R
thinking-cap.py
inst/rmarkdown/templates/neurotypr/skeleton/qmd/.quarto
.lintr
inst/rmarkdown/templates/neurotypr/skeleton/qmd/list.bat
inst/rmarkdown/templates/neurotypr/skeleton/qmd/template 2.qmd
.gitignore
inst/rmarkdown/templates/neurotypr/skeleton/qmd/_quarto 2.yml
.gitignore
inst/rmarkdown/templates/neurotypr/skeleton/qmd/_02-09_adhd_child_text_teacher (1).qmd
